freight-invoice-exceptions/workflow.json
{
  "name": "Freight Invoice Automation — Exception Handling (Portfolio Demo)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        256
      ],
      "id": "4493257f-d6ac-451f-849f-5fb9c5b2783f",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "YOUR_INVOICE_TEMPLATE_DOC_ID",
          "mode": "id"
        },
        "name": "={{ $('Loop Over Items').item.json.PO }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_WORKING_COPY_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        256
      ],
      "id": "80260459-5c5a-4ea0-bc66-712a882a4644",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EKWAMAGRfFF0N8g7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        256
      ],
      "id": "4470a180-779b-4692-ae52-7b563951609f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?gid=2144758921",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2144758921,
          "mode": "list",
          "cachedResultName": "Facturador",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=2144758921"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "BROKER",
              "lookupValue": "GREEN VALLEY FARMS"
            },
            {
              "lookupColumn": "factura hecha",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        256
      ],
      "id": "c345df6d-2975-45c8-8923-a272a10a2094",
      "name": "Extraer Facturas",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3z4FCUCT0SBza3V4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a4393d2-9a90-4d1f-abdf-4d6413470864",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Extraer Facturas').item.json.PO }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        256,
        256
      ],
      "id": "d074b347-22f2-4a40-8f41-46c869f780f5",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        512
      ],
      "id": "0af70f76-b843-4ff5-8af7-4a32cbe95812",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EKWAMAGRfFF0N8g7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        496
      ],
      "id": "0e861651-8863-4233-b08a-3a2a3be7fb59",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "@prokodo/n8n-nodes-pdf-toolkit.prokodoPdfToolkit",
      "typeVersion": 1,
      "position": [
        1296,
        496
      ],
      "id": "2083a2d7-1d19-45d5-9487-7432c26e3c7d",
      "name": "PDF Toolkit"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.documentId }}/export?mimeType=application/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        256
      ],
      "id": "7ae0b5b8-e265-4111-8086-83153ee21bfe",
      "name": "HTTP Request1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EKWAMAGRfFF0N8g7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_FINAL_INVOICES_FOLDER_ID_2",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        496
      ],
      "id": "daa8bd75-c899-42b8-93a6-bca203f12de6",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EKWAMAGRfFF0N8g7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'YOUR_SOURCE_PDF_FOLDER_ID_2' in parents and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id, name, mimeType, size, createdTime, webViewLink)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        256
      ],
      "id": "24cf2e97-53b7-4299-b636-c00731577156",
      "name": "Get All PDFs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EKWAMAGRfFF0N8g7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.files.map(file => ({ json: file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        256
      ],
      "id": "ed742d67-a823-4b94-b5af-1fe520e34a6f",
      "name": "Filter PDFs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd2850e3-fb4b-4d66-b778-26e38f21d230",
              "name": "filename",
              "value": "={{ $('Build Filename').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        496
      ],
      "id": "ac9d9e94-43d7-40d9-b7f0-a6b943c473c8",
      "name": "Filename"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1d2e3f4-a5b6-7890-cdef-123456789012",
              "name": "filename",
              "value": "={{$json.name.match (/CAR\\d+/)[0] + ' - ' + $json.name.match(/POD\\s*(\\d+)/)[1]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        256
      ],
      "id": "73ba103f-e097-4674-923c-248d9a6b9e2a",
      "name": "Build Filename"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb2d9b18-986d-4dc6-aab3-06e9dbe62295",
              "name": "DATE",
              "value": "={{ $json.DATE }}",
              "type": "string"
            },
            {
              "id": "2aaff553-a82f-485b-8cd6-1c01943e3a1e",
              "name": "BROKER",
              "value": "={{ $json.BROKER }}",
              "type": "string"
            },
            {
              "id": "1f746208-216d-42e3-aeb5-9ab18f32700d",
              "name": "PO",
              "value": "={{ $json.PO }}",
              "type": "string"
            },
            {
              "id": "be16e459-fb00-463d-9632-0ae6674bebe6",
              "name": "PICK UP",
              "value": "={{ $json[\"PICK UP\"] }}",
              "type": "string"
            },
            {
              "id": "e046d762-b69b-4f03-9c8f-bf3fca78700f",
              "name": "DROP",
              "value": "={{ $json.DROP }}",
              "type": "string"
            },
            {
              "id": "7e3d67b1-ed26-47b8-844d-88b57591567e",
              "name": "AMOUNT",
              "value": "={{ $json.AMOUNT }}",
              "type": "string"
            },
            {
              "id": "38e64043-84fa-4fa0-9c0c-603f22af56c4",
              "name": "factura hecha",
              "value": "={{ $json[\"factura hecha\"] }}",
              "type": "string"
            },
            {
              "id": "23dc8bbc-ad87-43a6-91da-6b77336ae135",
              "name": "Rate",
              "value": "={{ $json.Rate }}",
              "type": "string"
            },
            {
              "id": "869d94a9-577e-47f2-b5b4-cb4b9617a3d6",
              "name": "Lumper ",
              "value": "={{ $json['Lumper '] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        256
      ],
      "id": "1dc58018-4dbb-42f9-b056-5be0ec3ee1f4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?gid=2144758921",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2144758921,
          "mode": "list",
          "cachedResultName": "Facturador",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=2144758921"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PO": "={{ $('Extraer Facturas').item.json.PO }}",
            "factura hecha": "Si"
          },
          "matchingColumns": [
            "PO"
          ],
          "schema": [
            {
              "id": "TRUCK",
              "displayName": "TRUCK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TRIP´#",
              "displayName": "TRIP´#",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DRIVER",
              "displayName": "DRIVER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BROKER",
              "displayName": "BROKER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PO",
              "displayName": "PO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PICK UP",
              "displayName": "PICK UP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DROP",
              "displayName": "DROP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BILL",
              "displayName": "BILL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "RC",
              "displayName": "RC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DI",
              "displayName": "DI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "POD",
              "displayName": "POD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AMOUNT",
              "displayName": "AMOUNT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "factura hecha",
              "displayName": "factura hecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rate",
              "displayName": "Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lumper ",
              "displayName": "Lumper ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "#AMMOUNT",
              "displayName": "#AMMOUNT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "#RATE",
              "displayName": "#RATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "#LUMPER",
              "displayName": "#LUMPER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "d9bd701e-b6ef-415b-b7eb-a9bbf9f26f23",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3z4FCUCT0SBza3V4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{FROM}}",
              "replaceText": "={{ $('Loop Over Items').item.json[\"PICK UP\"] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{TO}} ",
              "replaceText": "={{ $('Loop Over Items').item.json.DROP }}"
            },
            {
              "action": "replaceAll",
              "text": "{{BROKER}} ",
              "replaceText": "={{ $('Loop Over Items').item.json.BROKER }}"
            },
            {
              "action": "replaceAll",
              "text": "{{DATE}} ",
              "replaceText": "={{ $('Loop Over Items').item.json.DATE }}"
            },
            {
              "action": "replaceAll",
              "text": "{{TOTAL}}",
              "replaceText": "={{ Number($('Loop Over Items').item.json.AMOUNT).toLocaleString('en-US', { style: 'currency', currency: 'USD' }) }}"
            },
            {
              "action": "replaceAll",
              "text": "{{FILENAME}}",
              "replaceText": "={{ $('Build Filename').item.json.filename }}"
            },
            {
              "action": "replaceAll",
              "text": "{{RATE}}",
              "replaceText": "={{ $('Loop Over Items').item.json.Rate }}"
            },
            {
              "action": "replaceAll",
              "text": "{{LFEE}}",
              "replaceText": "={{ parseFloat(String($('Loop Over Items').item.json['Lumper '] ?? '').replace(/[$,\\s]/g, '')) === 0 ? ' ' : $('Loop Over Items').item.json['Lumper '] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{LUMPER}}",
              "replaceText": "={{ parseFloat(String($('Loop Over Items').item.json['Lumper '] ?? '').replace(/[$,\\s]/g, '')) === 0 ? ' ' : 'Lumper Fee' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        736,
        256
      ],
      "id": "6b2c7315-a6cc-49e0-8274-6356f8f7dd74",
      "name": "Update a document",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "xSMQ3U826CnIDXGt",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Extraer Facturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Facturas": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get All PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All PDFs": {
      "main": [
        [
          {
            "node": "Filter PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDFs": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Build Filename",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Filename": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "PDF Toolkit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Toolkit": {
      "main": [
        [
          {
            "node": "Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filename": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c0b40431-5e34-4553-97df-5f3185bdc9dc",
  "meta": {},
  "id": "demo-freight-invoice-exceptions",
  "tags": []
}